@media screen and (min-width: 320px) {
  body {
    font-family: 'roboto regular';
    background-color: $bg-primary;
  }

  .p {
    &-col {
      padding: 0;
    }
    &-grid {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.hidden {
  display: none;
}
