@media screen and (min-width: 320px) {
  h1.usuarios {
    font-family: goturegular;
    font-size: 4rem;
    color: $color-primary;
  }

  .input-group {
    margin-bottom: 1rem;
    .label-form {
      font-size: 1.2rem;
      top: .3rem;
      position: relative;
      color: lighten($color-minus-25, 10);
    }

    .input-form {
      font-size: 1.2rem;
      width: 90vw;
      height: 2rem;
      border: none;
      border-bottom: .02rem solid $color-minus-25;
      outline: none;
      font-family: 'roboto thin';
      padding-left: .2rem;
    }
  }

  .btn-primary {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: .5rem 1rem;
    background-color: transparent;
    border: .05rem solid $color-primary;
    border-radius: 2rem;
    align-items: center;
    text-align: start;
    outline: none;
    color: $color-primary;
    width: 100%;

    .icon {
      color: #fff;
      background-color: $color-primary;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      float: right;
      margin: 0;
      right: -.5rem;
      position: relative;
    }

    &:active {
      background-color: lighten($color-primary, 10);

      .icon {
        opacity: 1;
      }
    }
  }

  .account-details {
    font-size: 1rem;
    color: $color-primary;
    margin: 2rem 0 0 0;
  }

  .btn-unform  {
    a {
      text-decoration: none;
      color: $color-primary;
      font-weight: bold;
      font-family: 'roboto light';
    }

    .icon {
      color: #000;
      font-size: 110%;
      margin-left: 1rem;
    }
  }

  .icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    /* margin-top: .2em; */
    text-align: center;
    opacity: .8;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 2.1rem;

    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
}
