@media screen and (min-width: 320px) {
  .input-box {
    width: 90vw;
    margin: 10px auto;

    label {
      color: $text-light;
    }

    .p-autocomplete-dd-input {
      box-shadow: none !important;
    }

    .p-inputtext {
      box-shadow: none !important;
    }

    .p-autocomplete-dropdown {
      background-color: $bg-minus-25;
      border-color: $bg-minus-25;
      box-shadow: none !important;

      span {
        color: $text-light;
      }
    }

    .p-inputgroup-addon {
      background-color: $bg-minus-25 !important;
      border-color: $bg-minus-25 !important;
      color: $text-light !important;
    }
  }

  .img-avatar-box {
    margin: 20px auto;

    img {
      height: 30vw;
      width: 30vw;
      object-fit: cover;
      border-radius: 15vw;
    }
  }
}
