.home {
  .uk-navbar {
    &-container {
      background-color: transparent !important;

      li {

        a {
          min-height: 50px;
        }
      }

      .uk-icon {
        fill: #fff;
      }

      .uk-navbar-nav {
        flex-direction: column;
        align-items: flex-start;

        .uk-dropdown {
          padding: 25px 25px 0;
        }
      }
    }
  }
}
