.uk-navbar {
  height: 14vh;

  &-container {
    background-color: transparent !important;

    .uk-icon {
      fill: #fff;
    }

    .uk-navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
