@media screen and (min-width: 320px) {
  body {
    background: url('../../assets/images/background/1.svg'), url('../../assets/images/background/2.svg');
    background-size: 80vh;
    background-position: -50vw 20vh, 55vw 0vh;
    background-repeat: no-repeat;

    .home {
      display: grid;
      margin-top: 20vh;
      width: 80vw;

      .uk-first-column {
        font-family: 'goturegular';
        font-weight: bolder;
      }

      p {
        font-family: 'roboto thin';
      }
    }

  }
}

@media screen and (min-width: 360px) {
  body {
    .home {
      display: grid;
      margin-top: 40vh;
    }
  }
}
